<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="Appoteka_v2._0.Properties.Settings.appotekaDBConnectionString"
      connectionString="Data Source=r2fkhg6ccp.database.windows.net,1433;Initial Catalog=appotekaDB;Persist Security Info=True;User ID=appoteka_admin;Password=PIbaza123"
      providerName="System.Data.SqlClient" />
    <add name="appotekaDBEntities" connectionString="metadata=res://*/ModelAppoteka.csdl|res://*/ModelAppoteka.ssdl|res://*/ModelAppoteka.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=r2fkhg6ccp.database.windows.net,1433;initial catalog=appotekaDB;persist security info=True;user id=appoteka_admin;password=PIbaza123;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="HzzoDBEntities" connectionString="metadata=res://*/ModelHZZO.csdl|res://*/ModelHZZO.ssdl|res://*/ModelHZZO.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=rlguoht9fp.database.windows.net,1433;initial catalog=HzzoDB;persist security info=True;user id=admin_appoteka;password=PIbaza123;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Appoteka_v2._0.Properties.Settings.HzzoDBConnectionString"
      connectionString="Data Source=rlguoht9fp.database.windows.net,1433;Initial Catalog=HzzoDB;Persist Security Info=True;User ID=admin_appoteka;Password=PIbaza123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>